.minecraft/xaero
.minecraft/saves
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/options.txt
.minecraft/crash-reports
.minecraft/screenshots
.minecraft/logs
instance.cfg

# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack